html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  color: white;
  
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-width: 320px;
}

#city {
  
  text-shadow: 1px 1px 1px #333333;
  font-size: 1em;
}

#temperature {
  font-size: 1em;
  text-shadow: 1px 1px 1px #333333;
}

#results {
  margin-bottom: 1.5em;
}

#condition,
#wind-speed {
  
  font-size: 1em;
  text-shadow: 1px 1px 1px #333333;
}

#date,
#time {
	text-align: right;
	font-size: 1em;
	text-shadow: 1px 1px 1px #333333;
}
.wi {
  font-size: 1em;
}
.well-lg {
	height: 3em;
	border-bottom: 1px solid black;
}